html {
    background: url("static/pozadina1.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
   margin-top: 5%;
  }
  
  /* Hide the images by default */
  .mySlides {
      display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 150px;
    width: 200px;
    margin: 0 2px;
    background-color: #bbb;
    /* border-radius: 50%; */
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation*/
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  } 
  

body {
    margin: 0;
    
    color: darkblue;
    font-family: 'Montserrat', sans-serif;
}

header {
    overflow: hidden;
}
.naslov {
    max-width: 100vw;
    font-size: 20px;
    font-weight: bold;
    border: 2px dotted #f15e1a;
    text-align: center;
    margin-top: 3%;
}
footer {
    display: block;
    width: 100%;
    background-color: #e3e8eb;
    margin: 0 0 0 0;
    color: darkblue;
    text-align: center;
    height: auto;
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 60px;
}
.dugmad {
    display: flex;
    justify-content: center;
}
nav {
    margin-bottom: 20px;
}

nav a {
    color: darkblue;
    text-decoration: none;
    font-size: 2em;
    font-weight: bold;
    padding: 10px;
    border: 2px solid;
    background-color: bisque;
    opacity: 0.6;
    display: block;
    text-align: center;
}

p {
    text-shadow: -1px -1px 0 #e3e8eb, 1px -1px 0 #e3e8eb, -1px 1px 0 #e3e8eb, 1px 1px 0 #e3e8eb;
}

.logo {
    width: 400px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}

.posao {
    text-align: center;
    margin-top: 0;
}

.header {
    background-image: url("static/pozadina2.jpg");
    background-size: cover;
}

.header-gallery {
    background-image: url("static/gallery_background.jpg");
    background-size: cover;
}
.header-kontakt {
    background-image: url(static/kontakt_background.jpg);
    background-size: cover;
}

.kontakt, .naslov-kontakt {
    padding-left: 10px;
}

.border-button {
    /* Full width border and a clip-path visually cutting it down to the starting size */
    border: solid 10px #f15e1a;
    clip-path: polygon( calc(0% + 5px) calc(0% + 5px), /* top left */
    calc(100% - 5px) calc(0% + 5px), /* top right */
    calc(100% - 5px) calc(100% - 5px), /* bottom right */
    calc(0% + 5px) calc(100% - 5px)/* bottom left */
    );
    transition: clip-path 0.6s linear;
    border-radius: 25px;
}

.border-button:hover {
    /* Clip-path spanning the entire box so it's no longer hiding the full-width border. */
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    border: solid 10px bisque;
    background-color: #f15e1a;
}

.wrapper {
    display: block;
    margin: 10px;
    font-size: 25px;
    padding: 3%;
    
}

.gallery div img {
    width: 350px;
    height: 300px;
    object-fit: cover;
    margin: 20px 20px 0 20px;
    border-radius: 20px;
}

.gallery {
    display: block;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    box-shadow: 0 0 5px #343436;
}
h1.line {
    margin: 0 0 16px 0;
    font-size: 1.1em;
    color: darkblue;
    position: relative;
    text-align: center;
}
h1.line span {
    display: inline-block;
    position: relative;
    z-index: 2;
    padding: 10px;
    padding-top: 2px;
    background: #e3e8eb;
    color: darkblue;

}
h1.line::after {
    content: '';
    display: block;
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 2px;
    top: 50%;
    background: darkblue;
}

@media (min-width: 800px) {
    nav {
        float: right;
        display: flex;
        clear: both;
    }
    .logo {
        float: left;
    }
    .posao {
        clear: both;
        float: left;
        margin-left: 50px;
        padding-left: 10px;
    }
    .wrapper {
        overflow: hidden;
        padding: 10px;
    }
    .main, .sidebar {
        float: left;
        width: 40%;
        margin-left: 10%;
    }
    .footer {
        clear: both;
    }
    
    .naslov {
        font-size: 30px;
    }
   
     .gallery img {
        cursor: pointer;
    }
    .gallery img:hover {
        opacity: 0.8;
    }
    .gallery {
        padding-top: 100px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}
